<svg fill="none" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
  <path d="m9.333 22.667 13.334-13.334m-13.334 0h13.334v13.334" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
</svg>