<div class="articles">
  <div class="articles__container">
    <div class="articles__grid">
     <h3 class="article__heading js-animate-in">{{ articlesTitle }}</h3> 
      
      {% if articleImage1 %}
        <a class="article__item js-card-animate-in" href="{{ articleUrl1 }}" target="_blank">
          <div class="article__overlay"></div>
          <img src="{{ articleImage1 }}" alt="">
          <div class="button article__button">
            <span>
              Read article
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32">
                <path stroke="#33272a" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/>
              </svg>
            </span>
          </div>
        </a>
      {% endif %}
      
      {% if articleImage2 %}
        <a class="article__item js-card-animate-in" href="{{ articleUrl2 }}" target="_blank">
          <div class="article__overlay"></div>
          <img src="{{ articleImage2 }}" alt="">
          <div class="button article__button">
            <span>
              Read article
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32">
                <path stroke="#33272a" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/>
              </svg>
            </span>
          </div>
        </a>
      {% endif %}

    </div>
  </div>
</div>
