<div class="articles">
  <div class="articles__container">
    <div class="articles__grid">
      <h3 class="highlighted-text__heading js-animate-in">Articles</h3>
      <a class="article__item" href="https://www.codecademy.com/resources/blog/from-freelance-marketer-to-front-end-engineer/" target='_blank'>
        <img src="/assets/images/codecademy.png" alt="">
      </a>
      <a class="article__item" href="https://niceandserious.com/journal/breaking-the-web-developer-stereotype" target='_black'>
        <img src="/assets/images/breaking-the-stereotype.png" alt="">
      </a>
    </div>
  </div>
</div>