<div class="articles">
  <div class="articles__container">
    <div class="articles__grid">
     <h3 class="article__heading js-animate-in">Articles</h3> 
      <a class="article__item" href="https://www.codecademy.com/resources/blog/from-freelance-marketer-to-front-end-engineer/" target="_blank">
        <div class="article__overlay"></div>
        <img src="/assets/images/codecademy.png" alt="">
        <div class="button article__button">
          <span>
            Read article
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32">
              <path stroke="#33272a" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/>
            </svg>
          </span>
        </div>
      </a>
      <a class="article__item" href="https://niceandserious.com/journal/breaking-the-web-developer-stereotype" target="_blank">
        <div class="article__overlay"></div>
        <img src="/assets/images/breaking-the-stereotype.png" alt="">
        <div class="button article__button">
          <span>
            Read article
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32">
              <path stroke="#33272a" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/>
            </svg>
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
