<a href="{{ post.url | url }}" class="card">
  <div class="postlist-link card__image">
    <div class="card__image--container">
      <img src="/assets/images/{{ post.data.projectPreviewImg }}" alt="">
      <div class="button card__button">
        <span>
          Launch project<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/></svg>
        </span>
      </div>
    </div>
  </div>
  <div class="card__copy">
    <h4>
      {% if post.data.title %}
        {{ post.data.title }}
      {% else %}
        <code>{{ post.url }}</code>
      {% endif %}
    </h4>

    {% if post.data.subtitle %}
      <p>
        {{ post.data.subtitle }}
      </p>
    {% endif %}
  </div>
</a>