<div class="columns">
  <div class="columns__container">
    <div class="columns__grid">
      <div class="column__item column__one">
        <h3>Heading</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="column__item column__two">
        <h3>Heading</h3>
        <p>Lorem ipsum dolor sit amet <br> consectetur adipiscing elit <br> sed do eiusmod tempor incididunt ut labore</p>
      </div>
      <div class="column__item column__three">
        <h3>Heading</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>