<div class="columns">
  <div class="columns__container">
    <div class="columns__grid">
      <div class="column__item column__one js-animate-in">
        <h4>{{ column1Heading }}</h4>
        <p class="p-small">{{ column1Copy }}</p>
      </div>
      <div class="column__item column__two js-animate-in">
        <h4>{{ column2Heading }}</h4>
        <p class="p-small">{{ column2Copy }}</p>
      </div>
    </div>
  </div>
</div>