<section class="hero-home">
  <div class="hero-home__container">
    <div class="hero-home__grid">
      <h1 class="hero-home__header-1 special-heading js-hero-heading" id='hero-heading1'>{{ heading1 }}</h1>
      <h1 class="hero-home__header-2 special-heading js-hero-heading" id='hero-heading2'>{{ heading2 }}</h1>
      <h2 class="special-heading hero-home__sub-header js-sub-hero-heading p-xlarge">{{ subHeading }}</h2>
    </div>
    <p class="hero-home__scroll">{{ scrollText }}</p>
  </div>
</section>