<section class="hero-home">
  <div class="hero-home__container">
    <div class="hero-home__grid">
      <h1 class="hero-home__header-1">{{ heading1 }}</h1>
      <h1 class="hero-home__header-2">{{ heading2 }}</h1>
      <h2 class="hero-home__sub-header p-xlarge">{{ subHeading }}</h2>
    </div>
    <p class="hero-home__scroll">Scroll for details</p>
  </div>
  <div class="divider"></div>
</section>