<section class="hero-about">
  <div class="hero-about__container">
    
    <!-- Header -->
    <h1 class="hero-about__header">{{ heading }}</h1>
    
    <!-- Image Goes Here -->
    
    <!-- Subheading -->
    <div class="hero-about__cta">
      <p class="js-hero-animate-this">{{ subHeading }}</p>
      <a class="button hero-about__button" href="/">{{ buttonText }}</a>
    </div>

  </div>    
  <p class="hero-about__scroll">Scroll for details</p>
</section>