<section class="hero-about">
  <div class="hero-about__container">
    <div class="hero-about__grid">
      <h1 class="hero-about__header">{{ heading }}</h1>
      <div class="hero-about__image">
        {% include "_partials/image-oval-about.njk" %}
      </div>
      <div class="hero-about__cta">
        <p>{{ subHeading }}</p>
        <a class="button hero-about__button" href="/">
          <span>
            {{ buttonText }}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path stroke="#33272a" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/></svg>
          </span>
        </a>
      </div>
    </div>
    <p class="hero-about__scroll">Scroll for details</p>
  </div>
</section>