<section class="hero-post">
  <div class="hero-post__container">
    <div class="hero-post__grid">
      <h1 class="hero-post__header-1">{{ title }}</h1>
      <p class="hero-post__sub-header">{{ subtitle }}</p>
      <a class="button hero-post__button" href="{{ buttonUrl }}" target="_blank">
        <span>
          {{ buttonText }}<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path stroke="#33272a" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/></svg>
        </span>
      </a>
    </div>
    <p class="hero-post__scroll">{{ scrollText }}</p>
  </div>
</section>