<section class="hero-about">
  <div class="hero-about__container">
    <div class="hero-about__grid">
    
    <!-- Header -->
      <h1 class="hero-about__header">{{ heading }}</h1>
      
      <!-- Image Goes Here -->
      <div class="hero-about__image">
        {% include "_partials/image-oval-about.njk" %}
      </div>

      <!-- Subheading -->
      <div class="hero-about__cta">
        <p>{{ subHeading }}</p>
        <a class="button" href="/">
          {{ buttonText }}
          <span>
          {% include "arrow.njk" %}
        </span>
      </a>
      </div>

    </div>
    <p class="hero-about__scroll">Scroll for details</p>
  </div>
</section>