<section class="highlighted-text">
  <div class="highlighted-text__container">
    <div class="highlighted-text__grid">
      <p class="highlighted-text__heading js-animate-in">Technologies, libraries & tools</p>
      <p class="highlighted-text__copy p-xlarge js-animate-in">{{ highlightedCopy }}</p>
    </div>
  </div>
</section>