<section class="highlighted-text">
  {# <div class="pulsing-gradient highlighted-text__blob"></div> #}
  <div class="highlighted-text__container">
    <div class="highlighted-text__grid">
      <h4 class="highlighted-text__heading">Technologies, libraries & tools</h4>
      <p class="highlighted-text__copy">{{ highlightedCopy }}</p>
    </div>
  </div>
</section>