<section class="highlighted-text">
  <div class="highlighted-text__container">
    <div class="highlighted-text__grid">
      <p class="highlighted-text__heading">Technologies, libraries & tools</p>
      <p class="highlighted-text__copy p-large">{{ highlightedCopy }}</p>
    </div>
  </div>
</section>