<section class="list-text">
  <div class="list-text__container">
    <div class="list-text__grid">
      <h3 class="list-text__header js-animate-in">Places I've worked</h3>
      <div class="list-text__items">
        <div class="list-text__position js-animate-in">
        <p>Freelance Marketing Manager</p>
        <p class="list-text__dates  p-large">Freelance: XXXX - XXXX</p>
      </div>
      <div class="list-text__position js-animate-in">
        <p>Freelance Marketing Manager</p>
        <p class="list-text__dates  p-large">Freelance: XXXX - XXXX</p>
      </div>
      <div class="list-text__position js-animate-in">
        <p>Freelance Marketing Manager</p>
        <p class="list-text__dates p-large">Freelance: XXXX - XXXX</p>
      </div>
      </div>
    </div>    
  </div>
</section>