<section class="list-text">
  <div class="list-text__container">
    <div class="list-text__grid">
      <h3 class="list-text__header js-animate-in">Places I've worked</h3>
      <div class="list-text__items">
        <div class="list-text__position js-animate-in">
          <p>Nice & Serious</p>
          <p class="list-text__dates p-large">Front-End Developer</p>
        </div>
        <div class="list-text__position js-animate-in">
          <p>The Agency Solution</p>
          <p class="list-text__dates p-large">Freelance Marketing Manager</p>
        </div>
        <div class="list-text__position js-animate-in">
          <p>Serious Pig</p>
          <p class="list-text__dates p-large">Marketing</p>
        </div>
        <div class="list-text__position js-animate-in">
          <p>Ministry of Sound</p>
          <p class="list-text__dates p-large">Brand Licensing, Marketing, PA & Creative</p>
        </div>
      </div>
      <a href="/assets/documents/MichelleClementCV-Front-EndDeveloper.pdf" class="button list-text__button js-animate-in">
        <span>Download Full CV
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32">
            <path stroke="#33272a" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/>
          </svg>
        </span>
      </a>
    </div>    
  </div>
</section>