<section class="list-text js-animate-in">
  <div class="list-text__container">
    <h3 class="list-text__header js-animate-in">Places I've worked</h3>
    <div class="list-text__items">
      <div class="list-text__position">
      <h4>Freelance Marketing Manager</h4>
      <p class="list-text__dates">Freelance: XXXX - XXXX</p>
    </div>
    <div class="list-text__position">
      <h4>Freelance Marketing Manager</h4>
      <p class="list-text__dates">Freelance: XXXX - XXXX</p>
    </div>
    <div class="list-text__position">
      <h4>Freelance Marketing Manager</h4>
      <p class="list-text__dates">Freelance: XXXX - XXXX</p>
    </div>
    </div>
    
  </div>
</section>