<nav class="menu" role="navigation" tabindex="-1">
  <ul class="menu__menu">
    {%- for item in collections.all | eleventyNavigation -%}
      {%- if item.url -%}
        {%- set isCurrent = (item.url == page.url) -%}
        {%- set isParent = item.url != '/' and item.url in page.url -%}
        <li class="menu__item{% if isCurrent or isParent %} menu__item--active{% endif %}">
          <a class="menu__link" href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}" {% if isCurrent %} aria-current="page" {% endif %}>
            {{ item.title }}
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>