<section class="post-image">
  <div class="post-image__container">
    <div class="post-image__grid">
      <div class="post-image__image post-image__outline-first">
        <img src="{{ projectImg }}" alt="">
      </div>
      <div class="post-image__outline-second"></div>
      <div class="post-image__outline-third"></div>
    </div>
  </div>
</section>