<section class="post-image-grid" aria-hidden="true">
  <div class="post-image-grid__container">
    <div class="post-image-grid__grid">
      <div class="post-image-grid__image">
        <img src="{{ postImage1 }}" alt="">
      </div>
      <div class="post-image-grid__image">
        <img src="{{ postImage2 }}" alt="">
      </div>
      {% if postImage3 %}
        <div class="post-image-grid__image">
          <img src="{{ postImage3 }}" alt="">
        </div>
      {% endif %}
      {% if postImage4 %}
        <div class="post-image-grid__image">
          <img src="{{ postImage4 }}" alt="">
        </div>
      {% endif %}
    </div>
  </div>
</section>