<section class="post-image-grid">
  <div class="post-image-grid__container">
    <div class="post-image-grid__grid">
      <div class="post-image-grid__image">
        <img src="/assets/images/michelle-photo.png" alt="">
      </div>
      <div class="post-image-grid__image">
        <img src="/assets/images/michelle-photo.png" alt="">
      </div>
      <div class="post-image-grid__image">
        <img src="/assets/images/michelle-photo.png" alt="">
      </div>
      <div class="post-image-grid__image">
        <img src="/assets/images/michelle-photo.png" alt="">
      </div>
    </div>
  </div>
</section>