<section class="work">
  <div class="work__container">
    <h2 class="work__heading js-animate-in">Work</h2>
  
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
  </div>
</section>