<section class="work">
  <div class="work__container">
    <h3 class="work__heading js-animate-card">A small selection of work</h3>
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
  </div>
</section>