@use '../2-design-tokens/index' as *;

h1 {
  font-size: var(--fluid-5);
}

h2 {
  font-size: var(--fluid-3);
}

h3 {
  font-size: var(--fluid-2);
}

h4 {
  font-size: var(--fluid-1);
}

h5 {
  font-size: var(--fluid-0);
}

.heading-2 {
  font-size: var(--fluid-4);
}

.special-heading {
  font-family: 'ApfelGrotezk-Fett', sans-serif;
}