@use '../2-design-tokens/index' as *;

.image-oval {
  min-height: 300px;
  aspect-ratio: 3/4;
  position: relative;

  @include media($m-screen-up) {
    min-height: 400px;
  }
}

.image-oval__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-oval__first,
.image-oval__second,
.image-oval__third {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 1000px;
}

.image-oval__first {
  top: 0;
  left: 0;
  z-index: 3;
  border: $border;
}

.image-oval__second {
  top: 4px;
  left: 4px;
  z-index: 2;
  background-color: $tertiary;

  @include media($m-screen-up) {
    top: 13px;
    left: 13px;
  }
}

.image-oval__third {
  top: 12px;
  left: 12px;
  z-index: 1;
  background-color: $black;
  @include media($m-screen-up) {
    top: 35px;
    left: 35px;
  }
}