@use '../2-design-tokens/index' as *;

.image-oval {
  min-height: rem(400);
  height: auto;
  aspect-ratio: 3/4;
  position: relative;
}

.image-oval__image img {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.image-oval__first,
.image-oval__second,
.image-oval__third {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 1000px;
}

.image-oval__first {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 1000px;
  top: 0;
  left: 0;
  z-index: 3;
  border: $border;
}

.image-oval__second {
  top: rem(4);
  left: rem(4);
  z-index: 2;
  background-color: $tertiary;

  @include media($m-screen-up) {
    top: rem(13);
    left: rem(13);
  }
}

.image-oval__third {
  top: rem(12);
  left: rem(12);
  z-index: 1;
  background-color: $black;
  @include media($m-screen-up) {
    top: rem(35);
    left: rem(35);
  }
}