<header class="header" role="banner">
  <div class="header__container">
    <a href="/" class="header__left">MC.</a>
    <div class="header__right">
      {% include "navigation.njk" %}
    </div>
  </div>
</header>
