<header class="header" role="banner">
  <a href="/" class="header__left">MC.</a>
  <div class="divider divider--hero"></div>
  <div class="header__right">
    <input class="header__menu" type="checkbox" id="circleMenu">
    <label for="circleMenu" class="header__menu-label">
      {% include '_partials/hamburger.njk'%}
    </label>
    {% include '_partials/menu.njk'%}
  </div>
</header>