{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}

{# General #}
<meta name="description" content="{{ description or meta.description }}">
<link rel="canonical" href="{{ absolutePageUrl }}">
<meta name="author" content="{{ meta.author }}">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="robots" content="{% if noindex %}noindex, nofollow{% else %}index, follow{% endif %}">

{# Open Graph #}
<meta property="og:site_name" content="{{ meta.title }}">
<meta property="og:title" content="{{ title or meta.title }}">
<meta property="og:description" content="{{ description or meta.description }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta property="og:locale" content="{{ meta.locale }}">
<meta property="og:type" content="website">

{%- if image -%}
    {# <meta property="og:image" content="{{ image | url | absoluteUrl(meta.url) }}"> #}
    <meta property="og:image" content="https://michelleclementportfolio.netlify.app/assets/images/asra-3.webp">
    <meta property="og:image:alt" content="{{ imageAlt or 'An image preview of ' ~ (title or meta.title) }}">
    <meta name="twitter:image" content="{{ image | url | absoluteUrl(meta.url) }}">
    <meta name="twitter:image:alt" content="{{ imageAlt or 'An image preview of ' ~ (title or meta.title) }}">
{%- endif -%}


{# Twitter Card #}
<meta name="twitter:card" content="{% if image -%}summary_large_image{% else %}summary{% endif %}">
<meta name="twitter:title" content="{{ title or meta.title }}">
<meta name="twitter:description" content="{{ description or meta.description }}">
{%- if image -%}
    <meta name="twitter:image" content="{{ image | url | absoluteUrl(meta.url) }}">
    <meta name="twitter:image:alt" content="{{ imageAlt or 'An image preview of ' ~ (title or meta.title) }}">
{%- endif -%}

{# Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}" sizes="16x16">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<meta name="theme-color" content="#7134ff">
<meta name="msapplication-TileColor" content="#7134ff">
<meta name="msapplication-config" content="{{ '/browserconfig.xml' | url }}">

{# RSS Feed #}
<link type="application/atom+xml" rel="alternate" href="{{ meta.url }}/feed.xml" title="{{ meta.title }}">
