@use '../2-design-tokens/index' as *;
// Main Site Layout

body {
  overflow-x: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
  position: relative;
}