@use '../2-design-tokens/index' as *;
@use '../6-skeleton/grid' as *;

.columns__container {
  @include horizontalContainer;
  @include verticalPadding;
}

.columns__grid {
  @include grid(3);
  @include rowGap(calc($gtr *3));

  @include media($m-screen-up) { 
    @include colGap(calc($gtr *4));
  }
}

.column__item {
  @include col(3);
  position: relative;
  text-align: center;
  @include flowV(calc($gtr/2));

  @include media($m-screen-down) {
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -30px; 
      right: 0;
      height: 1px;
      background-color: $black; 
    }
  }

  @include media($m-screen-up) {
    @include flowV;
    @include col(1);
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 0;
      right: -40px; 
      bottom: 0;
      width: 1px; 
      background-color: $black; 
    }
  }
}
