@use '../2-design-tokens/mixins' as *;
@use '../6-skeleton/grid' as *;
@use '../2-design-tokens/functions' as *;
@use '../2-design-tokens/spacing' as *;
@use '../2-design-tokens/media-queries' as *;
@use '../2-design-tokens/typography' as *;
@use '../2-design-tokens/colors' as *;

.columns__container {
  @include horizontalContainer;
  @include verticalPadding;
}

.columns__grid {
  @include grid(3);
  @include rowGap(calc($gtr *3));

  @include media($m-screen-up) { 
    @include colGap(calc($gtr *4));
  }
}

.column__item {
  @include col(3);
  position: relative;
  text-align: center;
  @include flowV;

  @include media($m-screen-down) {
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -30px; // Center the line in the row gap
      right: 0;
      height: 1px;
      background-color: $black; // Line color
    }
  }

  @include media($m-screen-up) {
    @include col(1);
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 0;
      right: -40px; // Center the line in the column gap
      bottom: 0;
      width: 1px; // Line thickness
      background-color: $black; // Line color
    }
  }
  
    // Add vertical line to the right of each column except the last one
    
}
