@use '../2-design-tokens/index' as *;
@use '../6-skeleton/grid' as *;


.cta {
  @include verticalPadding;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  background-color: $black;
  cursor: pointer;
  transition: background-color 200ms ease-out, color 0.2s ease;

  &:hover {
  background-color: transparent;
  
    p {
      color: $heading;
    }
  }
}

.cta__copy {
  color: $white;
  text-align: center;
  font-size: rem(60);

  @include media($m-screen-up) {
    font-size: rem(130);
  }

  @include media($l-screen-up) {
    font-size: rem(150);
  }
}