@use '../2-design-tokens/index' as *;
@use '../6-skeleton/grid' as *;

.footer {
  width: 100%;
}

.footer__container {
  @include horizontalContainer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $gtr 0;
  gap: $gtr;
  
  @include media($m-screen-up) {
    flex-direction: row;
  }
}

.footer__right-items {
  display: flex;
  flex-direction: row;
  gap: $gtr;
  margin: 0;
}