@use '../2-design-tokens/index' as *;

.header {
  position: relative; 
  z-index: 10; 
}

.header__left {
  @include horizontalContainer;
  display: block;
  font-size: 32px;
  width: 100%;
}

.header__menu {
  display: none; 
}

.header__right {
  position: absolute;
  top: 5px;
  right: 20px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  border: 2px solid purple;
  // background-color: purple;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 15; 


  @include media($m-screen-up) {
    top: 15px;
    right: 60px;
    height: 80px;
    width: 80px;
  }
}

.header__menu-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}