@use '../2-design-tokens/index' as *;

.header {
  position: relative; 
  z-index: 10; 
  transition: opacity 0.3s ease-out;
  @include horizontalContainer;
  padding-top: rem(35);
  display: block;
  font-size: rem(32);
  width: 100%;

  @include media($m-screen-up) {
    padding-top: rem(40);
  }
}

/* Initially, make the header fully visible */
.header.visible {
  opacity: 1;
}

/* When the class 'fade' is added, the header will fade out */
.header.hidden {
  opacity: 0;
}

.header__menu {
  display: none; 
}

.header__right {
  position: fixed;
  top: rem(19);
  right: rem(15);
  height: rem(60);
  width: rem(60);
  border-radius: 50%;
  z-index: 15; 

  @include media($m-screen-up) {
    top: rem(15);
    right: rem(60);
    height: rem(80);
    width: rem(80);
  }

  @include media($xl-screen-up) {
    right: rem(75);
  }

  @include media($xxl-screen-up) {
    right: rem(130);
  }
}

.header__menu-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 20;
}