@use '../2-design-tokens/index' as *;

.header {
  position: relative; 
  z-index: 10; 
  transition: opacity 0.3s ease-out;
  @include horizontalContainer;
  padding-top: 35px;
  display: block;
  font-size: 32px;
  width: 100%;

  @include media($m-screen-up) {
    padding-top: 40px;
  }
}

/* Initially, make the header fully visible */
.header.visible {
  opacity: 1;
}

/* When the class 'fade' is added, the header will fade out */
.header.hidden {
  opacity: 0;
}

.header__menu {
  display: none; 
}

.header__right {
  position: fixed;
  top: 19px;
  right: 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 15; 

  @include media($m-screen-up) {
    top: 15px;
    right: 60px;
    height: 80px;
    width: 80px;
  }

  @include media($xl-screen-up) {
    top: 15px;
    right: 75px;
    height: 80px;
    width: 80px;
  }

  @include media($xxl-screen-up) {
    top: 15px;
    right: 130px;
    height: 80px;
    width: 80px;
  }
}

.header__menu-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 20;
}