@use '../2-design-tokens/mixins' as *;
@use '../6-skeleton/grid' as *;
@use '../2-design-tokens/functions' as *;
@use '../2-design-tokens/spacing' as *;
@use '../2-design-tokens/media-queries' as *;

.hero-about {
  min-height: 75vh;
}

.hero-about__container {
  @include horizontalContainer;
  padding-top: calc(#{$gtr} * 3);
  padding-bottom: calc(#{$gtr} * 3);
}

.hero-about__grid {
  @include grid;
  @include rowGap(calc($gtr*2));
  @include colGap($gtr);
}

.hero-about__header {
  grid-column: 1 / span 12;

  @include media($m-screen-up) {
    grid-column: 1 / span 4;
  }
}

.hero-about__image {
  grid-row: 2;

  @include media($m-screen-up) {
    grid-column: 5 / span 4;
    grid-row: 1;
  }
}

.hero-about__cta {
  grid-row: 3;
  grid-column: 1 / span 12;
  padding-bottom: calc(#{$gtr} * 2);
  grid-column: 1 / span 4;

  @include media($l-screen-up) {
    grid-column: 10 / span 4;
  }

  @include media($l-screen-up) {
    margin-top: rem(-60);
  }

  p {
    padding-bottom: $gtr-s;
  }
}

.hero-about__button {
  @include media($m-screen-up) {
    margin-top: calc(#{$gtr} / 2);
  }
}

.hero-about__scroll {
  padding-bottom: $gtr;
}