@use '../2-design-tokens/index' as *;
@use '../6-skeleton/grid' as *;

.hero-home {
  position: relative;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  @include media($m-screen-up) {
    height: 80vh;
  }
}

.hero-home__container {
  @include horizontalContainer;
  width: 100%;
  padding-top: calc(#{$gtr} * 3);
  padding-bottom: $gtr;
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  flex-grow: 1;

  @include media($xl-screen-up) {
    padding-top: $gtr;
  }
}

.hero-home__grid {
  display: flex;
  flex-direction: column;
  gap: $gtr;
  padding-top: calc(#{$gtr} * 3);
  padding-bottom: calc(#{$gtr} * 3);

  @include media($m-screen-up) {
    @include grid;
    gap: 0;
  }

  @include media($s-screen-up) {
    padding-top: 0;
  }
}

.hero-home__header-1,
.hero-home__header-2 {
  font-size: rem(70);
  
  @include media($xxs-screen-up) {
    font-size: rem(90);
  }

  @include media($xs-screen-up) {
    font-size: rem(100);
  }

  @include media($s-screen-up) {
    font-size: rem(115);
  }

  @include media($m-screen-up) {
    font-size: rem(130);
  }

  @include media($l-screen-up) {
    font-size: rem(180);
  }

  @include media($xl-screen-up) {
    font-size: rem(230);
  }

  @include media($xxl-screen-up) {
    font-size: rem(250);
  }
}

.hero-home__header-1 {
  grid-column: 1 / span 9;

  @include media($m-screen-up) {
    grid-column: 1 / span 10;
  }

  @include media($xxl-screen-up) {
    grid-column: 2 / span 10;
  }
}

.hero-home__header-2 {
  align-self: flex-end;

  @include media($s-screen-up) {
    align-self: center;
  }
  
  @include media($m-screen-up) {
    grid-row: 2;
    grid-column: 3 / span 10;
  }
}

.hero-home__sub-header {
  align-self: flex-end;
  padding-top: calc(#{$gtr} * 2);

  @include media($m-screen-up) {
    grid-row: 3;
    grid-column: 1 / -1;
    justify-self: end;
  }
}