@use '../2-design-tokens/mixins' as *;
@use '../6-skeleton/grid' as *;
@use '../2-design-tokens/functions' as *;
@use '../2-design-tokens/spacing' as *;
@use '../2-design-tokens/media-queries' as *;
@use '../2-design-tokens/typography' as *;


.hero-post {
  position: relative;
  min-height: 70vh;

  @include media($m-screen-up) {
    height: 80vh;
  }
}

.hero-post__container {
  @include horizontalContainer;
  padding-top: calc(#{$gtr} * 3);
  padding-bottom: calc(#{$gtr} * 3);
}

.hero-post__grid {
  @include grid;
  @include rowGap;
}

.hero-post__header-1 {
  grid-column: 1 / span 12;
}

.hero-post__sub-header {
  grid-row: 2;
  grid-column: 1 / span 12;
  padding-top: calc(#{$gtr} * 2);

  @include media($m-screen-up) {
    grid-column: 7 / span 5;
  }
}

.hero-post__button {
  grid-row: 3;
  grid-column: 1 / span 12;

  @include media($m-screen-up) {
    grid-column: 7 / span 5;
  }
}
