@use '../2-design-tokens/index' as *;
@use '../6-skeleton/grid' as *;

.hero-about__container {
  @include horizontalContainer;
  padding-top: $gtr;
  padding-bottom: $gtr;
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  flex-grow: 1;

  @include media($m-screen-up) {
    padding-top: calc(#{$gtr} * 3);
    padding-bottom: $gtr;
  }
}

.hero-about__grid {
  display: flex;
  flex-direction: column;
  gap: calc($gtr*2);

  @include media($m-screen-up) {
    @include grid;
    @include rowGap(calc($gtr*2));
    @include colGap($gtr);
  }
}

.hero-about__header {
  font-size: rem(140);

  @include media($xs-screen-up) {
    grid-column: 1 / span 4;
    font-size: rem(160);
  }

  @include media($s-screen-up) {
    grid-column: 1 / span 4;
    font-size: rem(160);
  }

  @include media($m-screen-up) {
    font-size: rem(90);
  }

  @include media($l-screen-up) {
    font-size: rem(120);
  }

  @include media($xl-screen-up) {
    font-size: rem(160);
  }

  @include media($xxl-screen-up) {
    font-size: rem(200);
  }
}

.hero-about__image {
  display: flex; 
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  height: auto; 

  @include media($m-screen-up) {
    grid-column: 7 / span 4;
    grid-row: 1;
  }

  @include media($l-screen-up) {
    grid-column: 6 / span 4;
    grid-row: 1;
  }

  @include media($xl-screen-up) {
    grid-column: 5 / span 4;
    grid-row: 1;
  }
}

.hero-about__cta {
  grid-row: 3;
  grid-column: 1 / span 12;
  padding-bottom: calc(#{$gtr} * 2);

  @include media($l-screen-up) {
    grid-column: 10 / span 4;
    margin-top: rem(-60);
  }

  p {
    padding-bottom: $gtr-s;
  }
}

.hero-about__button {
  @include media($m-screen-up) {
    margin-top: calc(#{$gtr} / 2);
  }
}