@use '../2-design-tokens/index' as *;
@use '../6-skeleton/grid' as *;


.hero-home {
  position: relative;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media($m-screen-up) {
    height: 80vh;
  }
}

.hero-home__container {
  @include horizontalContainer;
  width: 100%;
  padding-top: calc(#{$gtr} * 3);
  padding-bottom: calc(#{$gtr} * 3);
}

.hero-home__grid {
  display: flex;
  flex-direction: column;
  gap: $gtr;
  padding-top: calc(#{$gtr} * 3);
  padding-bottom: calc(#{$gtr} * 3);

  @include media($m-screen-up) {
    @include grid;
    @include rowGap;
  }
}

.hero-home__header-1,
.hero-home__header-2 {

  @include media($m-screen-down) {
    font-size: 100px;
  }

  @include media($s-screen-down) {
    font-size: 75px;
  }

  @include media($xxs-screen-down) {
    font-size: 55px;
  }
}

.hero-home__header-1 {
  grid-column: 1 / span 9;

  @include media($m-screen-up) {
    grid-column: 2 / span 10;
  }
}

.hero-home__header-2 {
 padding-left: calc($gtr*2);

  @include media($m-screen-up) {
    grid-row: 2;
    grid-column: 3 / span 10;
  }
}

.hero-home__sub-header {
  padding-top: calc(#{$gtr} * 2);

  @include media($m-screen-up) {
    grid-row: 3;
    grid-column: 7 / span 6;
  }
}

.hero-home__scroll {
  width: 100%;
  padding-top: calc($gtr*6);

  @include media($xl-screen-up) {
    padding-top: calc($gtr*3);
  }
}