@use '../2-design-tokens/index' as *;
@use '../6-skeleton/grid' as *;


.hero-post {
  position: relative;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media($m-screen-up) {
    height: 80vh;
  }
}

.hero-post__container {
  @include horizontalContainer;
  width: 100%;
  padding-top: calc(#{$gtr} * 3);
  padding-bottom: calc(#{$gtr} * 3);
}

.hero-post__grid {
  display: flex;
  flex-direction: column;
  gap: $gtr;
  padding-bottom: calc(#{$gtr} * 3);

  @include media($m-screen-up) {
    @include grid;
    @include rowGap;
  }
}

.hero-post__header-1 {
  @include media($m-screen-down) {
    font-size: rem(80);
  }

  @include media($xs-screen-down) {
    font-size: rem(55);
  }

  @include media($m-screen-up) {
    grid-column: 1 / span 12;
  }
}

.hero-post__sub-header {
  padding-top: calc(#{$gtr} * 3);

  @include media($m-screen-up) {
    grid-row: 2;
    grid-column: 7 / span 5;
  }
}

.hero-post__button {
  grid-row: 3;
  grid-column: 1 / span 12;

  @include media($m-screen-up) {
    grid-column: 7 / span 5;
  }
}

.hero-post__scroll {
  width: 100%;
  padding-top: calc($gtr*3);

  @include media($xl-screen-up) {
    padding-top: $gtr;
  }
}