@use '../2-design-tokens/mixins' as *;
@use '../6-skeleton/grid' as *;
@use '../2-design-tokens/functions' as *;
@use '../2-design-tokens/spacing' as *;
@use '../2-design-tokens/media-queries' as *;

.highlighted-text {
  overflow-y: clip;
}

.highlighted-text__container {
  @include horizontalContainer;
  @include verticalPadding;
}

.highlighted-text__grid {
  @include grid;
  @include rowGap($gtr);
}

.highlighted-text__heading {
  grid-column: 1 / span 11;
}

.highlighted-text__copy {
  grid-column: 1 / span 11;
}