@use '../2-design-tokens/mixins' as *;
@use '../6-skeleton/grid' as *;
@use '../2-design-tokens/functions' as *;
@use '../2-design-tokens/spacing' as *;
@use '../2-design-tokens/media-queries' as *;

.list-text__container {
  @include horizontalContainer;
  @include verticalPadding;
}

.list-text__grid {
  @include grid;
  @include rowGap($gtr);
}

.list-text__header {
  grid-column: 1 / span 12;
  @include media($m-screen-up) {
    grid-column: 6 / span 6;
  }
}

.list-text__items {
  grid-column: 1 / span 12;
  @include media($m-screen-up) {
    grid-column: 6 / span 6;
  }
}

.list-text__dates {
  padding: 0 0 $gtr 0;
}