@use '../2-design-tokens/mixins' as *;
@use '../6-skeleton/grid' as *;
@use '../2-design-tokens/functions' as *;
@use '../2-design-tokens/spacing' as *;
@use '../2-design-tokens/media-queries' as *;

.nav__menu {
  display: flex;
  flex-direction: row;
  gap: $gtr;
}

.nav__link {
  font-size: 21px;
}