@use '../2-design-tokens/index' as *;
@use '../6-skeleton/grid' as *;

.post-image-grid__container {
  @include horizontalContainer;
  padding-bottom: calc(#{$gtr} * 3);
  
  @include media($m-screen-up) {
    padding-bottom: calc(#{$gtr} * 5);
  }
}

.post-image-grid__grid {
  @include grid;
  @include colGap($gtr);
  @include rowGap($gtr);
}

.post-image-grid__image {  
  @include col;
  aspect-ratio: 4/2.5;
  border: $border;

  @include media($m-screen-up) {
    @include col(6);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}