@use '../2-design-tokens/index' as *;
@use '../6-skeleton/grid' as *;


.post-image__container {
  position: relative;
  @include horizontalContainer;
  padding-top: calc(#{$gtr} * 3);
  
  @include media($m-screen-up) {
    padding-top: calc(#{$gtr} * 5);
  }
}

.post-image__grid {
  @include grid;
  position: relative;
}

.post-image__image {
  @include col;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}


.post-image__outline-second,
.post-image__outline-third {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.post-image__outline-first {
  top: 0;
  left: 0;
  z-index: 3;
  border: $border;
}

.post-image__outline-second {
  top: 4px;
  left: 4px;
  z-index: 2;
  background-color: $tertiary;

  @include media($m-screen-up) {
    top: 13px;
    left: 13px;
  }
}

.post-image__outline-third {
  top: 12px;
  left: 12px;
  z-index: 1;
  background-color: $black;

  @include media($m-screen-up) {
    top: 35px;
    left: 35px;
  }
}