@use '../2-design-tokens/index' as *;

.skiplink {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.skiplink:focus {
  border-radius: 4px;
  background-color: $highlight;
  clip: auto; 
  height: auto;
  padding: 0.5em 1em;
  margin: 0.5em;
  width: auto;
  z-index: 1;
  text-decoration: none;
}

:focus,
:active {
  border: none;
  outline: none;
}

.focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px $black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}