@use '../2-design-tokens/functions' as *;
@use '../2-design-tokens/spacing' as *;
@use '../2-design-tokens/media-queries' as *;

@mixin horizontalContainer {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding-left: $gtr;
  padding-right: $gtr;

  @include media($m-screen-up) {
    padding-left: calc(#{$gtr} * 2);
    padding-right: calc(#{$gtr} * 2);
  }
}

@mixin verticalPadding {
  padding-top: calc(#{$gtr} * 3);
  padding-bottom: calc(#{$gtr} * 3);
  @include media($m-screen-up) {
    padding-top: calc(#{$gtr} * 5);
    padding-bottom: calc(#{$gtr} * 5);
  }
}

@mixin flowV($val: $gtr) {
  > * + * {
    margin-top: $val;
  }
}