---
title: Bottle & Brew Baby.
subtitle: A community based, user compiled map of cafes with baby changing facilities.
buttonText: Launch project
buttonUrl: /
scrollText: Scroll for more
projectPreviewImg: /assets/images/bottle-1.webp
projectImg: /assets/images/bottle-1.webp
column1Heading: Client
column1Copy: Personal Project
column2Heading: Technologies
column2Copy: HTML, CSS, MapBox, Google Maps, JQuery
openingText: Bottle & Brew is a community based, user compiled, searchable map for finding and sharing cafes and coffee shops with baby changing facilities.
mainText: It is a fully responsive, simple to use, app looking website, where users can search for locations near them, as well as submit venues to be added.
mainText2: The idea for Bottle & Brew was born out of the fact that one too many times I have been forced to change my baby on cafe toilet floors when meeting up with friends on mat leave. This was even the case in cafes that appeared to want the new mum on mat leave trade.
postImage1: /assets/images/bottle-1.webp
postImage2: /assets/images/bottle-3.webp
cta: Next project
ctaLink: ../post-3
---
{% include "_partials/hero-post.njk" %}
<div class="divider"></div>
{% include "_partials/post-image.njk" %}
{% include "_partials/columns.njk" %}
<div class="divider"></div>
{% include "_partials/text-section.njk" %}
{% include "_partials/post-image-grid.njk" %}
{% include "_partials/cta.njk" %}