---
title: Lets get the convo flowing.
subtitle: A statically built front-end website, based on eleventy-webpack.
buttonText: Launch project
buttonUrl: https://theperiodconversation.com/
scrollText: Scroll for more
projectPreviewImg: /assets/images/period-conversation.gif
projectImg: /assets/images/period-conversation.gif
column1Heading: Client
column1Copy: Nice & Serious Internal Passion Project
column2Heading: Technologies
column2Copy: HTML, SASS, JavaScript, GSAP
column3Heading: Site Generator
column3Copy: Eleventy (11ty)
openingText: Periods are rarely discussed, especially in the workplace, leading to stigma and a lack of support. A staggering 89% of people who menstruate report anxiety or stress at work due to their periods, and 63% say normalizing conversations could help. Recognizing how the menstrual cycle impacts creativity, mental health, and well-being, we launched a campaign to challenge taboos and foster understanding.
mainText: The campaign began with a virtual conversation to make people more comfortable talking about periods. We surveyed 20 people without periods and 60 with periods to create an anonymous Q&A with over 1,000 responses. To share this knowledge, we built a website with the answers, a resource library, and expert insights from Bloody Good Period. By using non-gendered colors and avoiding traditional pinks and reds, the campaign promotes inclusive discussions about the menstrual cycle—not just the period itself.
mainText2: The Period Conversation was a Nice Works project, which encourages the team to explore creative solutions around social issues that we care about. These are self-initiated and self-run passion projects, completed around client work.
postImage1: /assets/images/period-1.webp
postImage2: /assets/images/period-2.webp
postImage3: /assets/images/period-3.webp
postImage4: /assets/images/period-4.webp
articlesTitle: Project coverage
articleImage1: /assets/images/period-itsnicethat.webp
articleImage2: /assets/images/period-creativebloq.webp
articleUrl1: https://www.itsnicethat.com/articles/nice-and-serious-the-period-conversation-digital-graphic-design-project-080524
articleUrl2: https://www.creativebloq.com/news/the-period-conversation
cta: Next Project
ctaLink: ../post-2

---

{% include "_partials/hero-post.njk" %}
<div class="divider"></div>
{% include "_partials/post-image.njk" %}
{% include "_partials/columns.njk" %}
<div class="divider"></div>
{% include "_partials/text-section.njk" %}
{% include "_partials/post-image-grid.njk" %}
{% include "_partials/articles.njk" %}
{% include "_partials/cta.njk" %}