---
title: Bottle & Brew Baby.
description: A community based, user compiled map of cafes with baby changing facilities.
image: /assets/images/bottle-1.webp
subtitle: A community based, user compiled map of cafes with baby changing facilities.
buttonText: Launch project
buttonUrl: https://bottlebrew.netlify.app/
scrollText: Scroll for more
projectPreviewImg: /assets/images/bottle-1.webp
projectImg: /assets/images/bottle-1.webp
column1Heading: Client
column1Copy: Personal Project
column2Heading: Technologies
column2Copy: HTML, CSS, MapBox, Google Maps, JQuery
openingText: Bottle & Brew is a community-based, user-compiled, searchable map for finding and sharing cafes and coffee shops with baby-changing facilities.
mainText: Did you know that businesses in the UK do not have a legal obligation to offer baby-changing facilities? These include cafes, coffee shops and restaurants. When I became a new mum, I learnt this the hard way. I changed my baby on the floor of a toilet more times than is acceptable!
mainText2: This sparked the idea for Bottle and Brew, to help mothers, fathers, and those looking after babies and toddlers find baby-friendly cafes near them, so they too are not caught out by this issue. 
mainText3: Bottle & Brew is a fully responsive, simple-to-use, app-looking website, where users can search for locations near them, as well as submit venues to be added. It currently has over 500 venue listings.
postImage1: /assets/images/bottle-1.webp
postImage2: /assets/images/bottle-3.webp
cta: Next project
ctaLink: ../post-3
---
{% include "_partials/hero-post.njk" %}
<div class="divider"></div>
{% include "_partials/post-image.njk" %}
{% include "_partials/columns.njk" %}
<div class="divider"></div>
{% include "_partials/text-section.njk" %}
{% include "_partials/post-image-grid.njk" %}
{% include "_partials/cta.njk" %}