---
title: ASRA.
subtitle: Craft CMS build for The Accelerator for Systemic Risk Assessment (ASRA).
buttonText: Launch project
buttonUrl: https://www.asranetwork.org/
scrollText: Scroll for more
projectPreviewImg: /assets/images/asra-mockup.webp
projectImg: /assets/images/asra-mockup.webp
column1Heading: Client
column1Copy: ASRA at Nice & Serious
column2Heading: Technologies
column2Copy: Craft CMS, HTML/Twig, SASS, Javascript, Barba.js, GSAP
openingText: We built The Accelerator for Systemic Risk Assessment's (ASRA) website on Craft CMS, leveraging its powerful Twig templating engine. We also implemented the use of the Vizy plugin, ensuring consistent design while giving editors the freedom to arrange and customize content.
mainText: Craft CMS was selected for its robust plugin ecosystem, robust security, scalability, developer flexibility, and intuitive interface, ensuring seamless management for the client.
postImage1: /assets/images/asra-3.webp
postImage2: /assets/images/asra-4.webp
postImage3: /assets/images/asra-5.webp
postImage4: /assets/images/asra-2.webp
cta: Next project
ctaLink: ../post-1
---
{% include "_partials/hero-post.njk" %}
<div class="divider"></div>
{% include "_partials/post-image.njk" %}
{% include "_partials/columns.njk" %}
<div class="divider"></div>
{% include "_partials/text-section.njk" %}
{% include "_partials/post-image-grid.njk" %}
{% include "_partials/cta.njk" %}