---
title: Big Chalk.
description: Craft CMS build from National Landscapes branded template.
image: /assets/images/bc-main.webp
subtitle: Craft CMS build from National Landscapes branded template.
buttonText: Launch project
buttonUrl: https://www.big-chalk.org/
scrollText: Scroll for more
projectPreviewImg: /assets/images/bc-main.webp
projectImg: /assets/images/bc-main.webp
column1Heading: Client
column1Copy: Big Chalk / National Landscapes at Nice & Serious
column2Heading: Technologies
column2Copy: Craft CMS, HTML/Twig, SASS, Javascript, GSAP, Googlemaps Api
openingText: Following the development of the National Landscapes Association website (formerly AONB), the team asked us to create a ‘template’ version to help individual locations and partners adopt a cohesive brand identity while reducing development costs. The template maintains the National Landscapes Association’s style while allowing adopters to customize colors, logos, and minor layout adjustments to suit their needs.
mainText: Big Chalk was one of the adopters, updating colors and logos to align with their brand while retaining the overall business identity. They also requested additional design options, which can be controlled via the CMS. The system dynamically updates the CSS based on selected fields, providing full flexibility over design and layout.
mainText2: The website features a Vizy modular layout, enabling drag-and-drop, repeatable content blocks. This approach ensures a consistent design while allowing editors to arrange and customize content freely.
postImage1: /assets/images/bc-1.webp
postImage2: /assets/images/bc-2.webp
postImage3: /assets/images/bc-3.webp
postImage4: /assets/images/bc-4.webp
cta: Next project
ctaLink: ../post-1
---
{% include "_partials/hero-post.njk" %}
<div class="divider"></div>
{% include "_partials/post-image.njk" %}
{% include "_partials/columns.njk" %}
<div class="divider"></div>
{% include "_partials/text-section.njk" %}
{% include "_partials/post-image-grid.njk" %}
{% include "_partials/cta.njk" %}