---
title: National Landscapes.
subtitle: Craft CMS website build for the National Landscapes rebrand (formerly AONB).
buttonText: Launch project
buttonUrl: https://www.national-landscapes.org.uk/
scrollText: Scroll for more
projectPreviewImg: /assets/images/nl.png
projectImg: /assets/images/nl-1.png
column1Heading: Client
column1Copy: National Landscapes at Nice & Serious
column2Heading: Technologies
column2Copy: Craft CMS, HTML/Twig, SASS, Javascript, Barba.js, GSAP
column3Heading: Something else
column3Copy: Lorem ipsum dolor sit amet
openingText: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
mainText: Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
mainText2: The Period Conversation was a Nice Works project, which encourages the team to explore creative solutions around social issues that we care about. These are self-initiated and self-run passion projects, completed around client work.
postImage1: /assets/images/nl-2.png
postImage2: /assets/images/nl-3.png
postImage3: /assets/images/nl-4.png
postImage4: /assets/images/nl-5.png
cta: Next project
ctaLink: ../post-4
---
{% include "_partials/hero-post.njk" %}
<div class="divider"></div>
{% include "_partials/post-image.njk" %}
{% include "_partials/columns.njk" %}
<div class="divider"></div>
{% include "_partials/text-section.njk" %}
{% include "_partials/post-image-grid.njk" %}
{% include "_partials/cta.njk" %}