---
layout: base
eleventyNavigation:
  key: About
  order: 2
---

<div class="container">
  <h1>About me</h1>
</div>

{# {% include "_partials/text-section.njk" %}
{% include "_partials/work.njk" %}
{% include "_partials/highlighted-text.njk" %}
{% include "_partials/list-text.njk" %} #}