---
layout: base
eleventyNavigation:
  key: About
  order: 2
heading: Hey!
subHeading: Nice to meet you.
buttonText: Let's grab a coffee
scrollText: Scroll for more
openingText: Hello! I’m Michelle. Thank you for visiting! I am a front-end developer currently working at Nice & Serious, but my road to becoming a developer hasn't been the traditional one. At the young age of 33, I decided I on a complete career change... whilst pregnant, whilst in a pandemic. Who doesn't like a challenge, right?
mainText: My background is in brand marketing, creative, and being the person people come to when something doesn’t work. Social scheduling mistakes, image resolution issues, a broken toilet, you name it, I've been asked to fix it.
mainText2: I spent 11 years in the music industry, 7 of which were at Ministry of Sound, before working as a freelance Marketing Manager for 6 years. During that time, I worked across diverse industries, including travel, insurance, music, film, and events.
mainText3: When the pandemic hit, much of my freelancing work slowed down. Instead of standing still, I decided to pursue something I’d always been fascinated by, web development. Thanks to Code Institute, I earned my diploma in Software Development, Full Stack in February 2021 with Merit, and my final project was awarded a distinction.
mainText4: My training came with an added twist—I found out I was pregnant just one month into the course, giving me the toughest deadline I’d ever faced! But with hard work and determination, I successfully transitioned into my first in-house developer role at the amazing Nice & Serious.
introCopyTwo: Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
articlesTitle: Featured articles
articleImage1: /assets/images/codecademy.webp
articleImage2: /assets/images/breaking-the-stereotype.webp
articleUrl1: https://www.codecademy.com/resources/blog/from-freelance-marketer-to-front-end-engineer/
articleUrl2: https://niceandserious.com/journal/breaking-the-web-developer-stereotype
highlightedHeader: "Technologies, Libraries and Tools:"
highlightedCopy: HTML, CSS/SASS, JavaScript, GSAP, CraftCMS, GitHub, Amazon Web Services, Bootstrap, Twig, Nunjuks
highlightedHeader2: "What I'm Currently Learning:"
highlightedCopy2: React
highlightedHeader3: "What I've previously learn't, but could do with a refresh:"
highlightedCopy3: Python, JQuery, Django
cta: Say hello!
ctaLink: mailto:michellelclement@gmail.com?subject=Hello from your website!
---

{% include "_partials/hero-about.njk" %}
<div class="divider"></div>
{% include "_partials/text-section.njk" %}
{% include "_partials/articles.njk" %}
{% include "_partials/highlighted-text.njk" %}
{% include "_partials/list-text.njk" %}
{% include "_partials/cta.njk" %}