---
layout: base
eleventyNavigation:
  key: Home
  order: 1
heading1: Michelle
heading2: Clement
subHeading: Front End Developer
scrollText: Scroll for more
openingText: Hi! I’m Michelle, a front-end web developer with 3 years of experience, specializing in HTML, CSS/SASS, JavaScript, and crafting animations with Greensock (GSAP). I am currently the Front-end Developer at Nice & Serious in East London.
mainText: I’ve worked extensively on client projects using Craft CMS and static site generators, whilst continuously learning new tools and technologies.
mainText2: I am a trained Full-stack developer, but my complementary skills from a creative and digital marketing background have led me to lean towards Front-End Web Development. 
mainText3: I am a natural problem solver and organiser, with vast experience communicating directly with business owners, stakeholders and teams to find solutions to their company and brand needs. 
textSectionButtonUrl: /about
textSectionButtonText: Learn more about me
highlightedHeader: Technologies, Libraries and Tools
highlightedCopy: HTML, CSS/SASS, JavaScript, GSAP, CraftCMS, GitHub, Amazon Web Services, Bootstrap, Twig, Nunjuks
buttonUrl: /about
buttonCopy: Learn more about me
cta: Say hello!
ctaLink: mailto:michellelclement@gmail.com?subject=Hello from your website!
---

{% include "_partials/hero-home.njk" %}
<div class="divider"></div>
{% include "_partials/text-section.njk" %}
{% include "_partials/work.njk" %}
{% include "_partials/highlighted-text.njk" %}
{% include "_partials/list-text.njk" %}
{% include "_partials/cta.njk" %}
