---
layout: base
title: Michelle Clement | Web Developer Portfolio
description: I turn ideas into interactive, user-friendly websites. Passionate about clean code, sleek design, and seamless functionality.
image: /assets/images/michelle-clement-social-img.png
eleventyNavigation:
  key: Home
  order: 1
heading1: Michelle
heading2: Clement
subHeading: Front-End Developer
scrollText: Scroll for more
openingText: Hi, I’m Michelle, a passionate Front-End Developer with 3 years of experience at Nice & Serious in East London. I specialize in building visually engaging, responsive websites with HTML, CSS/SASS, and JavaScript, and have crafted dynamic animations using Greensock (GSAP). I’ve also delivered numerous client projects using CraftCMS, ensuring high-quality user experiences.
mainText: In 2021, I completed my Diploma in Software Development (Full Stack) with Code Institute, transitioning from a successful career as a Marketing Manager. My background in creative and digital marketing gives me a unique perspective in understanding brand and business needs, as well as a proven ability to collaborate with stakeholders and cross-functional teams to deliver tailored solutions.
mainText2: If you’d like to learn more about my journey, skills, and the work I’ve done, click the button below.
textSectionButtonUrl: /about
textSectionButtonText: Learn more about me
highlightedHeader: Technologies, Libraries and Tools
highlightedCopy: HTML, CSS/SASS, JavaScript, GSAP, CraftCMS, GitHub, Amazon Web Services, Bootstrap, Twig, Nunjuks
highlightedHeader2: "What I'm Currently Learning:"
highlightedCopy2: React
highlightedHeader3: "What I've previously learn't, but could do with a refresh:"
highlightedCopy3: Python, JQuery, Django
buttonUrl: /about
buttonCopy: Learn more about me
cta: Say hello!
ctaLink: mailto:michellelclement@gmail.com?subject=Hello from your website!
---

{% include "_partials/hero-home.njk" %}
<div class="divider"></div>
{% include "_partials/text-section.njk" %}
{% include "_partials/work.njk" %}
{% include "_partials/highlighted-text.njk" %}
{# {% include "_partials/list-text.njk" %} #}
{% include "_partials/cta.njk" %}
