---
layout: base
title: Michelle Clement | Web Developer Portfolio
description: I turn ideas into interactive, user-friendly websites. Passionate about clean code, sleek design, and seamless functionality.
image: /assets/images/social-img.webp
eleventyNavigation:
  key: Home
  order: 1
heading1: Michelle
heading2: Clement
subHeading: Front-End Developer
scrollText: Scroll for more
openingText: Hi, I’m Michelle, a passionate Developer with three years of experience at <strong><a href="https://niceandserious.com/" target="_blank" rel="noopener">Nice & Serious</a></strong> in East London as Front-End Developer. I specialize in building visually engaging, responsive, and accessible websites using <strong>HTML, CSS/SASS, JavaScript, Node.js, Docker, and GSAP,</strong> with extensive experience in <strong>Craft CMS (Twig)</strong> and <strong>Eleventy.js (Nunjucks)</strong>. I prioritize UI/UX best practices, performance optimization, and cross-browser compatibility to ensure seamless user experiences.
mainText: In 2021, I completed my <strong>Diploma in Software Development (Full Stack)</strong> with Code Institute, transitioning from a successful career as a Marketing Manager. My background in creative and digital marketing gives me a unique perspective in understanding brand and business needs, as well as a proven ability to collaborate with stakeholders and cross-functional teams to deliver tailored solutions.
mainText2: If you’d like to learn more about my journey, skills, and the work I’ve done, please click the button below.
textSectionButtonUrl: /about
textSectionButtonText: Learn more about me
highlightedHeader: "Technologies, libraries and tools:"
highlightedCopy: HTML, CSS/SASS, JavaScript, GSAP, CraftCMS, GitHub, Node.js, Docker, Amazon Web Services, Bootstrap, Twig, Nunjuks, Adobe Suite, Figma.
highlightedHeader2: "What I'm Currently Learning:"
highlightedCopy2: React.
highlightedHeader3: "What I've previously learned but could do with a refresh:"
highlightedCopy3: Python, JQuery, Django.
buttonUrl: /about
buttonCopy: Learn more about me
cta: Say hello!
ctaLink: mailto:michellelclement@gmail.com?subject=Hello from your website!
---

{% include "_partials/hero-home.njk" %}
<div class="divider"></div>
{% include "_partials/text-section.njk" %}
{% include "_partials/work.njk" %}
{% include "_partials/highlighted-text.njk" %}
{% include "_partials/cta.njk" %}
