---
layout: base
permalink: /posts/
eleventyNavigation:
  key: Work
  order: 3
openingText: This is just a very small selection of projects I have worked on accross different platforms and technologies.
---

{% include "_partials/text-section.njk" %}
{% include "_partials/work.njk" %}