---
layout: base
permalink: /posts/
eleventyNavigation:
  key: Work
  order: 3
title: Michelle Clement | Web Developer Portfolio
description: I turn ideas into interactive, user-friendly websites. Passionate about clean code, sleek design, and seamless functionality.
image: src/assets/images/michelle-clement-social-img.png
openingText: This is just a very small selection of projects I have worked on accross different platforms and technologies.
---

{% include "_partials/text-section.njk" %}
{% include "_partials/work.njk" %}