<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ meta.title }}</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

    {% include "meta.njk" %}
    
	<link rel="stylesheet" href="/assets/css/main.scss">
</head>
<body>
    <a href="#main" class="skiplink">Skip to main content</a>

    <div class="layout" role="document">
			{% include "header.njk" %}
			<main id="main" class="main">
					{{ content | safe }}
			</main>
			{% include "footer.njk" %}
    </div>

    <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
</body>
</html>
